<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>SB Admin - Bootstrap Admin Template</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/bootstrap.min.css" %}">
	<link rel="stylesheep" type="text/css" href="{% static "vfd_app/css/bootstrap-rtl.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/sb-admin.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/sb-admin-rtl.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/plugins/morris.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/plugins/font-awesome.min.cs" %}">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://54.215.185.254/">Home</a>
				<a class="navbar-brand" href="http://54.215.185.254/client">Clients</a>
				<a class="navbar-brand" href="http://54.215.185.254/steam_trap">Steam Trap</a>
				<a class="navbar-brand" href="http://54.215.185.254/steam_leak">Steam Leak</a>
                                 <a class="navbar-brand" href="http://54.215.185.254/boiler_blowdown">Boiler Blowdown</a>
                                 <a class="navbar-brand" href="http://54.215.185.254/stacked_economizer">Stacked Economizer</a>
				<a class="navbar-brand" href="http://54.215.185.254:8000/vfd_app">VFD App</a>
				<a class="navbar-brand" href="http://54.215.185.254:8000/premium_efficiency_app">Premium Efficiency App</a>
				<a class="navbar-brand" href="http://54.215.185.254:8000/chiller_app">Chiller App</a>
			</div>
		</nav>
	</div>
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						Client Details
					</h1>
					<div class="breadcrumb">
							Client information is shown below.
					</div>
				</div>
				{% if client_id %}
					{% if client_id == 'add' %}
						<form class="form-horizontal" action="/client/details/add/" method="post" name="save_client_details">
					{% else %}
						<form class="form-horizontal" action="/client/details/{{client_id}}/" method="post" name="save_client_details">
					{% endif %}
					{% csrf_token %}
						<div class="container-fluid">
							<div class="form-group form-group-sm">
							  <label class="col-sm-4 control-label">Client Name</label>
							  <div class="col-sm-4">
								<input class="form-control" type="text" onchange="set_save_client()" name="client_name" value="{{client_name}}">
							  </div>
							</div>
							<div class="form-group form-group-sm">
							  <label class="col-sm-4 control-label">Country</label>
							  <div class="col-sm-6">
								  <select onchange="set_save_client()" name="country" class="col-sm-6">
									{% for id, name in country_dict %}
									   <option {% if id == country %} selected {% endif %} value="{{id}}">{{ name }}</option>
									{% endfor %}
								  </select>
							  </div>
							</div>
							<div class="form-group form-group-sm">
							  <label class="col-sm-4 control-label">Site Location</label>
							  <div class="col-sm-4">
								<input class="form-control" type="text" onchange="set_save_client()" name="customer_site" value="{{customer_site}}">
							  </div>
							</div>

						</div>
							<input id="save_client_app" name="save_client_app" type="text" value="0" hidden/>
							<input type="submit" value="Save" class="btn btn-default">
					  </form>
				{% else %}
					<div class="col-md-12">
						Please add clients
					</div>
				{% endif%}
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static "vfd_app/js/bootstrap.min.js" %}"></script>
	<script src="{% static "vfd_app/js/raphael.min.js" %}"></script>
	<script src="{% static "vfd_app/js/morris.min.js" %}"></script>
	<script src="{% static "vfd_app/js/morris-data.js" %}"></script>
	<script type="text/javascript">
	  function set_save_client() {
		element = document.getElementById('save_client_app');
		element.value = '1';
	  }
	</script>


</body>

</html>
