
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sample Mockup VFD Details page</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/bootstrap.min.css" %}">
	<link rel="stylesheep" type="text/css" href="{% static "vfd_app/css/bootstrap-rtl.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/sb-admin.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/sb-admin-rtl.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/plugins/morris.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/plugins/font-awesome.min.cs" %}">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>

  <body>
	  <div id="wrapper">
		  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			  <div class="navbar-header">
				 <a class="navbar-brand" href="http://54.215.247.84/">Home</a>
				 <a class="navbar-brand" href="http://54.215.247.84/client">Clients</a>
				 <a class="navbar-brand" href="http://54.215.247.84//steam_trap">Steam Trap</a>
				 <a class="navbar-brand" href="http://54.215.247.84//steam_leak">Steam Leak</a>
				 <a class="navbar-brand" href="http://54.215.247.84:8080/vfd_app">VFD App</a>
				 <a class="navbar-brand" href="http://54.215.247.84:8080//premium_efficiency_app">Premium Efficiency App</a>
				 <a class="navbar-brand" href="http://54.215.247.84:8080//chiller_app">Chiller App</a>
			  </div>
		  </nav>
	  </div>
	<div id="page-wrapper">
	<!-- Begin page content -->
		<div class="container-fluid">
			<h1 class="page-header">
				VFD's Application
			</h1>
		  {% if client_vfd_motor_objs %}
		  <div class="row">
			  <div class="col-lg-3 col-lg-offset-9">
				  <a href="/vfd_app/report/add/" class="btn btn-success">+ VFD</a>
			  </div>
		  </div>
		  <div class="panel panel-info">
			<div class="panel-heading">
			  List of all VFD's
			</div>
			<div class="panel-body">
			  <table class="table table-striped">
				  <tr>
					  <th>VFD Name</th>
					  <th></th>
					  <th>Client Name</th>
					  <th>Client Country</th>
				  </tr>
				  {% for client_vfd_motor in client_vfd_motor_objs %}
				  <tr>
					  <td><a href="/vfd_app/report/{{ client_vfd_motor.id }}/">{{ client_vfd_motor.vfd_name }}</a></td>
					  <td>{{ client_vfd_motor.vfd_name }}</td>
					  <td>{{ client_vfd_motor.client.client_name }}</td>
					  <td>{{ client_vfd_motor.client.country }}</td>
				  </tr>
			  {% endfor %}
			  </table>
			</div>
		  </div>
		  <h4> Please add new VFD using  <a href="/admin/vfd_app/client_vfd_motor/">admin console</a>.</h4>
		  {% else %}
			  <h4>No Client VFD's are available. Please add using <a href="/admin/vfd_app/client_vfd_motor/">admin console</a>.</h4>
		  {% endif %}
		</div>
	</div>

	<footer class="footer">
	  <div class="container-fluid">
		<p class="text-muted">Copyrights go here.</p>
	  </div>
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static "vfd_app/js/bootstrap.min.js" %}"></script>
	<script src="{% static "vfd_app/js/bootstrap.min.js" %}"></script>
	<script src="{% static "vfd_app/js/raphael.min.js" %}"></script>
	<script src="{% static "vfd_app/js/morris.min.js" %}"></script>
	<script src="{% static "vfd_app/js/morris-data.js" %}"></script>

  </body>
</html>
