
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sample Mockup VFD Details page</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/bootstrap.min.css" %}">
	<link rel="stylesheep" type="text/css" href="{% static "vfd_app/css/bootstrap-rtl.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/sb-admin.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/sb-admin-rtl.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/plugins/morris.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/plugins/font-awesome.min.cs" %}">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>

  <body>
	<!-- Begin page content -->
	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://54.215.185.254/">Home</a>
				<a class="navbar-brand" href="http://54.215.185.254/client">Clients</a>
				<a class="navbar-brand" href="http://54.215.185.254/steam_trap">Steam Trap</a>
				<a class="navbar-brand" href="http://54.215.185.254/steam_leak">Steam Leak</a>
                                 <a class="navbar-brand" href="http://54.215.185.254/boiler_blowdown">Boiler Blowdown</a>
                                 <a class="navbar-brand" href="http://54.215.185.254/stacked_economizer">Stacked Economizer</a>
				<a class="navbar-brand" href="http://54.215.185.254:8000/vfd_app">VFD App</a>
				<a class="navbar-brand" href="http://54.215.185.254:8000/premium_efficiency_app">Premium Efficiency App</a>
				<a class="navbar-brand" href="http://54.215.185.254:8000/chiller_app">Chiller App</a>
			</div>
		</nav>
	</div>
	<div id="page-wrapper">
	<div class="container">
	  {% if data %}
		<form class="form-horizontal" action="/vfd_app/report/{{ data.client_vfd_id }}/" method="post" name="save_vfd_details">
		  {% csrf_token %}
		  <div class="row">
			<div class="col-md-4">
			  <div class="panel panel-info">
				<div class="panel-heading">
				  VFD Actual Name
				</div>
				<div class="panel-body">
				{% if not data.create_new_vfd %}
					{{ data.vfd_actual_name }}
				{% else %}
					<select onchange="create_vfd_app()" name="new_vfd_obj" class="col-sm-5">
					  {% for vfd_key, vfd_value in data.new_vfd_objs %}
							  <option value="{{vfd_key}}">{{ vfd_value }}</option>
					  {% endfor %}
					</select>
				{% endif %}
				</div>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="panel panel-info">
				<div class="panel-heading">
				  Installed Date
				</div>
				<div class="panel-body">
				  {{ data.installed_date }}
				</div>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="panel panel-info">
				<div class="panel-heading">
				  Client Name
				</div>
				<div class="panel-body">
				{% if not data.create_new_vfd %}
					{{ data.client_name }}
				{% else %}
					<select onchange="create_vfd_app()" name="new_client_obj" class="col-sm-5">
					  {% for client_key, client_value in data.new_client_objs %}
							  <option value="{{client_key}}">{{ client_value }}</option>
					  {% endfor %}
					</select>
				{% endif %}
				</div>
			  </div>
			</div>
		  </div>

		  <div class="row">
			<div class="col-md-2">
			  <div class="panel panel-info">
				<div class="panel-heading">
				  VFD Name
				</div>
				<div class="panel-body">
				  <input onchange="setval()" type="text" class="form-control input-sm" name="vfd_name" value="{{ data.vfd_name }}" placeholder="VFD Name"/>
				</div>
			  </div>
			</div>
			<div class="col-md-2">
			  <div class="panel panel-info">
				<div class="panel-heading">
				  Cost per kWh
				</div>
				<div class="panel-body">
				  <input onchange="setval()" type="text" class="form-control input-sm" name="cost_per_kwh" value="{{ data.cost_per_kwh }}" placeholder="Cost per kWh"/>
				</div>
			  </div>
			</div>
			<div class="col-md-2">
			  <div class="panel panel-info">
				<div class="panel-heading">
				  Motor Hp
				</div>
				<div class="panel-body">
				  <input onchange="setval()" type="text" class="form-control input-sm" name="motor_horse_pwr" value="{{ data.motor_horse_pwr }}" placeholder="Horse pwr"/>
				</div>
			  </div>
			</div>
			<div class="col-md-2">
			  <div class="panel panel-info">
				<div class="panel-heading">
				  Existing Motor Eff.%
				</div>
				<div class="panel-body">
				  <input onchange="setval()" type="text" class="form-control input-sm" name="existing_motor_efficiency" value="{{ data.existing_motor_efficiency }}" placeholder="in %"/>
				</div>
			  </div>
			</div>
			<div class="col-md-2">
			  <div class="panel panel-info">
				<div class="panel-heading">
				  Proposed VFD Eff.%
				</div>
				<div class="panel-body">
				  <input onchange="setval()" type="text" class="form-control input-sm" name="proposed_vfd_efficiency" value="{{ data.proposed_vfd_efficiency }}" placeholder="in %"/>
				</div>
			  </div>
			</div>
			<div class="col-md-2">
			  <div class="panel panel-info">
				<div class="panel-heading">
				  Motor Load %
				</div>
				<div class="panel-body">
				  <input onchange="setval()" type="text" class="form-control input-sm" name="motor_load" value="{{ data.motor_load }}"/>
				</div>
			  </div>
			</div>
		  </div>

		  <div class="panel panel-info">
			<div class="panel-heading">
			  Standard Maximum Hours Of Operation
			</div>
			<div class="panel-body">

				{% if data %}
				<table class="table table-striped">
					<tr>
						<th>JAN</th>
						<th>FEB</th>
						<th>MAR</th>
						<th>APR</th>
						<th>MAY</th>
						<th>JUN</th>
						<th>JUL</th>
						<th>AUG</th>
						<th>SEP</th>
						<th>OCT</th>
						<th>NOV</th>
						<th>DEC</th>
					</tr>
					<tr>
						<td><input disabled class="form-control input-sm" value="744"/></td>
						<td><input disabled class="form-control input-sm" value="672"/></td>
						<td><input disabled class="form-control input-sm" value="744"/></td>
						<td><input disabled class="form-control input-sm" value="720"/></td>
						<td><input disabled class="form-control input-sm" value="744"/></td>
						<td><input disabled class="form-control input-sm" value="720"/></td>
						<td><input disabled class="form-control input-sm" value="744"/></td>
						<td><input disabled class="form-control input-sm" value="744"/></td>
						<td><input disabled class="form-control input-sm" value="720"/></td>
						<td><input disabled class="form-control input-sm" value="744"/></td>
						<td><input disabled class="form-control input-sm" value="720"/></td>
						<td><input disabled class="form-control input-sm" value="744"/></td>
					</tr>
				{% endif %}
				</table>

			</div>
		  </div>

		  <div class="panel panel-info">
			<div class="panel-heading">
			  Proposed VFD Monthly Usage
			</div>
			<div class="panel-body">

				<table class="table table-striped">
					<tr>
						<th>JAN</th>
						<th>FEB</th>
						<th>MAR</th>
						<th>APR</th>
						<th>MAY</th>
						<th>JUN</th>
						<th>JUL</th>
						<th>AUG</th>
						<th>SEP</th>
						<th>OCT</th>
						<th>NOV</th>
						<th>DEC</th>
					</tr>
					<tr>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_jan" value="{{ data.proposed_jan }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_feb" value="{{ data.proposed_feb }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_mar" value="{{ data.proposed_mar }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_apr" value="{{ data.proposed_apr }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_may" value="{{ data.proposed_may }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_jun" value="{{ data.proposed_jun }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_jul" value="{{ data.proposed_jul }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_aug" value="{{ data.proposed_aug }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_sep" value="{{ data.proposed_sep }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_oct" value="{{ data.proposed_oct }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_nov" value="{{ data.proposed_nov }}"/></td>
						<td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="setmonthlyhour()" class="form-control input-sm" name="proposed_dec" value="{{ data.proposed_dec }}"/></td>
					</tr>
				</table>
				<div class="form-group form-group-sm">
				  <label class="col-sm-2 col-sm-offset-9 control-label">Total hours</label>
				  <label class="col-sm-1 bg-success control-label">{{data.total_hours}}</label>
				</div>
				<div class="form-group form-group-sm">
				  <label class="col-sm-5 col-sm-offset-6 control-label">Total Operating kWh For Existing Motor:</label>
				  <label class="col-sm-1 bg-success control-label">{{data.total_existing_kwh}}</label>
				</div>
				<div class="form-group form-group-sm">
				  <label class="col-sm-5 col-sm-offset-6 control-label">Total Operating Cost For Existing Motor:</label>
				  <label class="col-sm-1 bg-success control-label">${{data.total_existing_cost_of_operation}}</label>
				</div>
			</div>
		  </div>

		  <div class="panel panel-info">
		  <div class="panel-heading">
			Proposed VFD - Speed Setpoint Ranges
		  </div>
		  <div class="panel-body">

			  <table class="table table-striped">
				  <tr>
					  <th>Setpoint Selection(s)</th>
					  <th>VFD Speed</th>
					  <th>% Of Time</th>
					  <th>kWh</th>
					  <th>Cost</th>
				  </tr>
				  <tr>
					  <td class="input-sm">1</th>
					  <td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="savesetpoints()" class="form-control input-sm" name="1_vfd_speed" value="{{ data.1_vfd_speed }}"/></td>
					  <td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="savesetpoints()" class="form-control input-sm" name="1_percent_of_time" value="{{ data.1_percent_of_time }}"/></td>
					  <td><label class="col-sm-12 bg-success control-label">{{data.1_proposed_kwh}}</label></td>
					  <td><label class="col-sm-12 bg-success control-label">${{data.1_proposed_cost}}</label></td>
				  </tr>
				  <tr>
					  <td class="input-sm">2</th>
					  <td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="savesetpoints()" class="form-control input-sm" name="2_vfd_speed" value="{{ data.2_vfd_speed }}"/></td>
					  <td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="savesetpoints()" class="form-control input-sm" name="2_percent_of_time" value="{{ data.2_percent_of_time }}"/></td>
					  <td><label class="col-sm-12 bg-success control-label">{{data.2_proposed_kwh}}</label></td>
					  <td><label class="col-sm-12 bg-success control-label">${{data.2_proposed_cost}}</label></td>
				  </tr>
				  <tr>
					  <td class="input-sm">3</th>
					  <td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="savesetpoints()" class="form-control input-sm" name="3_vfd_speed" value="{{ data.3_vfd_speed }}"/></td>
					  <td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="savesetpoints()" class="form-control input-sm" name="3_percent_of_time" value="{{ data.3_percent_of_time }}"/></td>
					  <td><label class="col-sm-12 bg-success control-label">{{data.3_proposed_kwh}}</label></td>
					  <td><label class="col-sm-12 bg-success control-label">${{data.3_proposed_cost}}</label></td>
				  </tr>
				  <tr>
					  <td class="input-sm">4</th>
					  <td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="savesetpoints()" class="form-control input-sm" name="4_vfd_speed" value="{{ data.4_vfd_speed }}"/></td>
					  <td><input {% if data.create_new_vfd %}disabled{% endif %} onchange="savesetpoints()" class="form-control input-sm" name="4_percent_of_time" value="{{ data.4_percent_of_time }}"/></td>
					  <td><label class="col-sm-12 bg-success control-label">{{data.4_proposed_kwh}}</label></td>
					  <td><label class="col-sm-12 bg-success control-label">${{data.4_proposed_cost}}</label></td>
				  </tr>
				  <tr>
					  <td class="input-sm"></th>
					  <td></td>
					  <td class="control-label">Totals</td>
					  <td><label class="col-sm-12 bg-success control-label">{{data.total_proposed_vfd_kwh}}</label></td>
					  <td><label class="col-sm-12 bg-success control-label">${{data.total_proposed_cost}}</label></td>
				  </tr>
			  </table>

		  </div>
		</div>

		  <div class="panel panel-info">
			<div class="panel-heading">
			  Report
			</div>
			<div class="panel-body">
			  <div class="row">
				<div class="col-md-4">
				  <div class="input-group">
					<span class="input-group-addon">Existing Total kWh</span>
					<input disabled type="text" class="form-control text-right" id="inputGroupSuccess2" value="{{ data.total_existing_kwh }}">
				  </div>
				  <div class="input-group">
					<span class="input-group-addon">Existing Total Cost</span>
					<input disabled type="text" class="form-control text-right" id="inputGroupSuccess2" value="${{ data.total_existing_cost_of_operation }}">
				  </div>
				</div>
				<div class="col-md-4">
				  <div class="input-group">
					<span class="input-group-addon">Proposed VFD Total kWh</span>
					<input disabled type="text" class="form-control text-right" id="inputGroupSuccess2" value="{{ data.total_proposed_vfd_kwh }}">
				  </div>
				  <div class="input-group">
					<span class="input-group-addon">Proposed VFD Total Cost</span>
					<input disabled type="text" class="form-control text-right" id="inputGroupSuccess2" value="${{ data.total_proposed_cost }}">
				  </div>
				</div>
				<div class="col-md-4">
				  <div class="input-group">
					<span class="input-group-addon">Total kWh Savings</span>
					<input disabled type="text" class="form-control text-right" id="inputGroupSuccess2" value="{{ data.annual_kwh_savings }}">
				  </div>
				  <div class="input-group">
					<span class="input-group-addon">Total Cost Savings</span>
					<input disabled type="text" class="form-control text-right" id="inputGroupSuccess2" value="${{ data.annual_cost_savings }}">
				  </div>
				</div>
			  </div>
			</div>
		  </div>



		  <div class="panel panel-info">
			<div class="panel-heading">
			  <div class="row">
				<div class="col-md-6">
				  Materials Pricing
				</div>
				<div class="col-md-6 text-right">
				  <button {% if data.create_new_vfd %}disabled{% endif %} type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">+</button>
				  <!-- Modal -->
				  <div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog modal-lg">
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title text-center">Add Material</h4>
						</div>
						<div class="modal-body">
						  <div class="form-group">
							<label class="col-sm-2 control-label">Item</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddmaterial()" class="form-control" name="item" placeholder="Item">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">Supplier</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddmaterial()" class="form-control" name="supplier" placeholder="Supplier">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">Description</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddmaterial()" class="form-control" name="description" placeholder="Description">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">GES Cost Each</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddmaterial()" class="form-control" name="ges_cost_each" placeholder="0.00">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">GES Markup</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddmaterial()" class="form-control" name="ges_markup" placeholder="1.00">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">Quantity</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddmaterial()" class="form-control" name="quantity" placeholder="0">
							</div>
						  </div>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						  <input type="submit" value="Save" class="btn btn-default">
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="panel-body">
			  <table class="table table-striped">
				  <tr>
					  <th>Quantity</th>
					  <th>Item</th>
					  <th>Supplier</th>
					  <th>Description</th>
					  <th>GES Cost Each</th>
					  <th>GES Markup</th>
					  <th>Customer Price Each</th>
					  <th>Extended Cost</th>
				  </tr>
				  {% for each_body_data in data.materials_data.list %}
				  <tr>
					  <td class="input-sm"> {{ each_body_data.quantity }}</th>
					  <td class="input-sm"> {{ each_body_data.item }}</th>
					  <td class="input-sm"> {{ each_body_data.supplier }}</th>
					  <td class="input-sm"> {{ each_body_data.description }}</th>
					  <td class="input-sm text-right"> ${{ each_body_data.ges_cost_each }}</th>
					  <td class="input-sm"> {{ each_body_data.ges_markup }}</th>
					  <td class="input-sm text-right"> ${{ each_body_data.customer_each_price }}</th>
					  <td class="input-sm text-right"> ${{ each_body_data.extended_cost }}</th>
				  </tr>
				  {% endfor %}
				  <tr>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <th>Total Material Cost</th>
					  <th class="text-right">${{ data.materials_data.total_material_cost }}</th>
				  </tr>
				  <tr>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <th>Misc  Materials (%):</th>
					  <th>{{ data.materials_data.miss_materials_percent }}%</th>
				  </tr>
				  <tr>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <th>Total Material Cost(including misc)</th>
					  <th class="text-right">${{ data.materials_data.total_material_miss_cost }}</th>
				  </tr>
			  </table>


			</div>
		  </div>

		  <div class="panel panel-info">
			<div class="panel-heading">

			  <div class="row">
				<div class="col-md-6">
				  Labor Pricing
				</div>
				<div class="col-md-6 text-right">
				  <button {% if data.create_new_vfd %}disabled{% endif %} type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal2">+</button>
				  <!-- Modal -->
				  <div class="modal fade" id="myModal2" role="dialog">
					<div class="modal-dialog modal-lg">
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title text-center">Add Labor</h4>
						</div>
						<div class="modal-body">
						  <div class="form-group">
							<label class="col-sm-2 control-label">Item</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddlabor()" class="form-control" name="item_labor" placeholder="Item">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">Vendor</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddlabor()" class="form-control" name="vendor" placeholder="Supplier">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">Hourly Rate</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddlabor()" class="form-control" name="hourly_rate" placeholder="0">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">Fixed Cost</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddlabor()" class="form-control" name="fixed_cost" placeholder="0.00">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">GES Cost</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddlabor()" class="form-control" name="ges_cost" placeholder="0.00">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">GES Markup</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddlabor()" class="form-control" name="ges_labor_markup" placeholder="1.00">
							</div>
						  </div>
						  <div class="form-group">
							<label class="col-sm-2 control-label">Quantity</label>
							<div class="col-sm-10">
							  <input type="text" onchange="setaddlabor()" class="form-control" name="quantity_labor" placeholder="0">
							</div>
						  </div>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						  <input type="submit" value="Save" class="btn btn-default">
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="panel-body">
			  <table class="table table-striped">
				  <tr>
					  <th>Quantity</th>
					  <th>Item</th>
					  <th>Vendor</th>
					  <th>Hourly Rate</th>
					  <th>Fixed Cost</th>
					  <th>GES Cost</th>
					  <th>GES Markup</th>
					  <th>Customer Price</th>
				  </tr>
				  {% for each_body_data in data.labor_data.list %}
				  <tr>
					  <td class="input-sm"> {{ each_body_data.quantity }}</th>
					  <td class="input-sm"> {{ each_body_data.item }}</th>
					  <td class="input-sm"> {{ each_body_data.vendor }}</th>
					  <td class="input-sm text-right"> ${{ each_body_data.hourly_rate }}</th>
					  <td class="input-sm text-right"> ${{ each_body_data.fixed_cost }}</th>
					  <td class="input-sm text-right"> ${{ each_body_data.ges_cost }}</th>
					  <td class="input-sm"> {{ each_body_data.ges_markup }}</th>
					  <td class="input-sm text-right"> ${{ each_body_data.customer_price }}</th>
				  </tr>
				  {% endfor %}
				  <tr>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <th>Total Labor Cost</th>
					  <th class="text-right">${{ data.labor_data.total_labor_cost }}</th>
				  </tr>
				  <tr>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <th>Misc  Materials (%):</th>
					  <th>{{ data.labor_data.miss_labor_percent }}%</th>
				  </tr>
				  <tr>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <th>Total Material Cost(including misc)</th>
					  <th class="text-right">${{ data.labor_data.total_labor_miss_cost }}</th>
				  </tr>
				  <tr>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <th>Total Project Cost</th>
					  <th class="text-right">${{ data.project_cost }}</th>
				  </tr>
			  </table>
			</div>
		  </div>
		  <input id="save_text" name="save_text" type="text" value="0" hidden/>
		  <input id="save_material" name="save_material" type="text" value="0" hidden/>
		  <input id="save_labor" name="save_labor" type="text" value="0" hidden/>
		  <input id="save_monthly_hour" name="save_monthly_hour" type="text" value="0" hidden/>
		  <input id="save_setpoints" name="save_setpoints" type="text" value="0" hidden/>
		  <input id="create_vfd_flag" name="create_vfd_flag" type="text" value="0" hidden/>
		  <input type="submit" value="Save" class="btn btn-default">
		</form>

	  {% else %}
		<div class="page-header">
		  <h1>No Client VFD details are available.</h1>
		</div>
	  {% endif %}
	</div>
	</div>

	<footer class="footer">
	  <div class="container-fluid">
		<p class="text-muted">Copyrights go here.</p>
	  </div>
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static "vfd_app/js/bootstrap.min.js" %}"></script>
	<script src="{% static "vfd_app/js/raphael.min.js" %}"></script>
	<script src="{% static "vfd_app/js/morris.min.js" %}"></script>
	<script src="{% static "vfd_app/js/morris-data.js" %}"></script>
	<script type="text/javascript">
	  function create_vfd_app() {
		element = document.getElementById('create_vfd_flag');
		element.value = '1';
	  }
	  function setval() {
		element = document.getElementById('save_text');
		element.value = '1';
	  }
	  function setmonthlyhour() {
		element = document.getElementById('save_monthly_hour');
		element.value = '1';
	  }
	  function savesetpoints() {
		element = document.getElementById('save_setpoints');
		element.value = '1';

	  }
	  function setaddmaterial() {
		element = document.getElementById('save_material');
		element.value = '1';
	  }
	  function setaddlabor() {
		element = document.getElementById('save_labor');
		element.value = '1';
	  }
	</script>

  </body>
</html>
